h1 {color:black;}
h2 {color:brown;}
h3 {color:blueviolet;}
h4 {color:blue;}
#Pod4000mil {margin-left: 40%;}
#Pod5000mil {margin-left: 40%;}
#Pod6000mil {margin-left: 40%;}
#Pod600puf {margin-left: 40%;}
h1 {font-size: 150%}
h2 {font-size: 150%}
h3 {font-size: 150%}
h4 {font-size: 150%}
#Pod4000mil {width: 20%;}
#Pod5000mil {width: 20%;}
#Pod6000mil {width: 20%;}
#Pod600puf {width: 20%;}
h1 {text-align: center;}
h2 {text-align: center;}
h3 {text-align: center;}
h4 {text-align: center;}

